Do you have a secret crush??<br />
Want to know the scope of your relationship with the crush??<br />
The Flames tool is the one you are looking for.<br />
Enter your name and the name of your love interest below and Cupid will predict how your relatonship will evolve.<br />
Flames stands for
<span class="flames_initial">F</span>riendship,
<span class="flames_initial">L</span>ove,
<span class="flames_initial">A</span>ffair,
<span class="flames_initial">M</span>arriage,
<span class="flames_initial">E</span>nmity and
<span class="flames_initial">S</span>isterhood.