<% unless @new_session %>
  <% if @blank_names %>
    <p class="error_flash"> Please enter valid name</p>
  <% else %>
    <%= render :partial => 'home/result' %>
  <% end %>
<% end %>
<%= render :partial => 'home/form' %>
